.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border: transparent;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 353px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__like-btn {
  background-image: url(../images/black_heart.svg);
  opacity: 0.4;
  border: none;
  background-color: transparent;
  width: 23px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
