.profile {
  display: flex;
  margin-left: 20px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-width: 0 0 1px 0;
  border-color: rgba(33, 33, 33, 0.4);
  border-style: solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border: transparent;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
  height: 190px;
}

.profile__name {
  margin: 0 0 12px;
  width: 420px;
  height: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.profile__description {
  margin: 0;
  opacity: 0.7;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  width: 108px;
  height: 16px;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  opacity: 0.7;
  align-self: flex-start;
  margin-top: auto;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: auto;
  background-color: #212121;
  width: 149px;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  color: #fcf5e5;
  align-self: flex-end;
  font-weight: medium;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 0;
}

.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
